pipeline/09_until.json
{
	"name": "09_until",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('varinit'),variables('varuntill'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "04_storageaccountcsv",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute Pipeline1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varinit",
								"value": {
									"value": "@variables('varincrement')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varincrement",
								"value": {
									"value": "@add(variables('varinit'),1)",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"varinit": {
				"type": "Integer",
				"defaultValue": 1
			},
			"varuntill": {
				"type": "Integer",
				"defaultValue": 4
			},
			"varincrement": {
				"type": "Integer",
				"defaultValue": 1
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-20T11:38:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}